.Guesser {
  height: 100%;

  &__toolbar {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }

  &__input {
    flex-grow: 1;
    background: none;
    outline: none;
    border: none;
    margin-right: 1rem;
  }
}
