.Button {
  background: none;
  border: none;
  padding: 0.875rem 2rem;
  border-radius: $border-radius-tight;
  transition: background-color $timing $duration;

  &:hover {
    cursor: pointer;
  }

  &--primary {
    color: $neutralWhite;
    background-color: $neutralBlack;

    &:hover {
      background-color: $neutral100;
    }
  }
}
