.Button {
  background: none;
  border: 1px solid transparent;
  padding: 0.875rem 2rem;
  text-align: center;
  border-radius: $border-radius-tight;
  transition: background-color $timing $duration;

  &:hover {
    cursor: pointer;
  }

  + .Button {
    margin-top: 0.5rem;
  }

  &--primary {
    color: $neutralWhite;
    background-color: $neutralBlack;

    &:hover {
      background-color: $neutral90;
    }
  }

  &--secondary {
    background-color: $neutralWhite;
    border: 1px solid $neutralBlack;
  }

  &--danger {
    background-color: $red20;
    color: $neutralWhite;

    &:hover {
      background-color: darken($red20, 5%);
    }
  }

  &--link {
    display: inline-block;
    color: $neutralBlack;
    width: auto !important;
    padding: 0;
    border-radius: 0;
    border-bottom: 1px solid $neutralBlack;
  }
}
