.FormInput {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__label {
    margin-bottom: 0.75rem;
  }

  &__instructional-copy {
    margin-top: 0.5rem;
    color: $neutral70;
    font-size: 0.875rem;
  }

  + .FormInput {
    margin-top: 1rem;
  }

  input {
    outline: none;
    border: 1px solid $neutral50;
    border-radius: $border-radius-tight;
    padding: 0.875rem;

    &:disabled {
      background-color: $neutral30;
    }
  }
}
