.Initialized {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 5rem;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
  }

  &__ready-players {
    text-align: center;
    font-size: 2rem;
    font-weight: $weight-bold;

    &__count {
      font-size: 3rem;
    }
  }

  &__button {
    width: 100%;
  }

  &__teams {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5rem;

    .TeamIcon {
      background-color: $neutral10;
      border-radius: $border-radius-tight;

      &--primary.TeamIcon--selected {
        background-color: $primary10;
      }

      &--secondary.TeamIcon--selected {
        background-color: $secondary10;
      }

      &--primary {
        color: $primary80;
      }

      &--secondary {
        color: $secondary50;
      }

      + .TeamIcon {
        margin-left: 2.5rem;
      }
    }
  }
}
