.ActionOverlay {
  button {
    font-size: 0.875rem;
    font-weight: $weight-bold;
    padding: 0;

    .svg-inline--fa {
      margin-right: 0.5rem;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 0.875rem;
    top: 1.5rem;
    left: 2.5rem;
    color: $primary50;

    &__icon {
      margin-right: 0.5rem;
    }
  }

  &__end-game {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &__sign-out {
    position: absolute;
    bottom: 1.5rem;
    right: 2.5rem;
  }

  &__leaderboard {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
  }

  &__rules {
    position: absolute;
    bottom: 1.5rem;
    left: 2.5rem;
  }
}
