.Easel {
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;
  overflow: hidden;

  &__header {
    background-color: $neutral10;
    padding: 0.75rem 0;
    text-align: center;
  }

  &__footer {
    background-color: $neutral10;
  }
}
