.GameContainer {
  display: flex;
  justify-content: space-between;
  background-color: $neutral30;
  height: 100vh;
  padding: 4rem 2.5rem;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 2.5rem;
    max-width: 1024px;
    flex-grow: 1;
  }
}
