.Login {
  &__header {
    margin-bottom: 0.75rem;
  }

  .FormInput {
    min-width: 30rem;

    input[type='text'] {
      background: none;
      outline: none;
      border: 1px solid $neutral50;
      border-radius: $border-radius-tight;
      padding: 0.875rem;
    }
  }

  &__button {
    margin-top: 1rem;
    text-align: center;
    width: 100%;
  }
}
