.Modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(red($neutral70), green($neutral70), blue($neutral70), 0.4);
  transition: visibility $timing $duration, opacity $timing $duration;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $neutral70;
    border-radius: $border-radius;
    padding: 2rem;
    min-height: 200px;
    min-width: 300px;
  }

  &--hidden {
    display: none;
  }
}
