.TeamSelect {
  &__title {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__team {
    $block: #{&};

    > * {
      display: block;
    }

    &--primary#{$block}--selected {
      #{$block}__label {
        color: $primary50;
      }

      #{$block}__button {
        border-color: $primary10;
        background-color: $primary10;
      }
    }

    &--secondary#{$block}--selected {
      #{$block}__label {
        color: $secondary50;
      }

      #{$block}__button {
        border-color: $secondary10;
        background-color: $secondary10;
      }
    }

    &__button {
      border: 1px solid $neutral40;
      border-radius: $border-radius-tight;
      padding: 2.5rem 3.125rem;
      margin: 0.625rem 0;
      transition: border-color $timing $duration, background-color $timing $duration;

      &:hover {
        cursor: pointer;
      }

      #{$block}--primary & {
        color: $primary50;

        &:hover {
          border-color: $primary10;
          background-color: $primary10;
        }
      }

      #{$block}--secondary & {
        color: $secondary50;

        &:hover {
          border-color: $secondary10;
          background-color: $secondary10;
        }
      }
    }

    &__player-count {
      color: $neutral80;
    }

    + .TeamSelect__team {
      margin-left: 2.5rem;
    }
  }

  &__actions {
    margin-top: 3.375rem;
    width: 100%;

    .Button {
      background-color: $neutral90;
      color: $neutralWhite;
      padding: 0.875rem;
      height: 100%;
      width: 100%;
    }
  }
}
