.Team {
  $block: #{&};

  flex-grow: 1;
  border-radius: $border-radius;
  background-color: $neutralWhite;
  padding: 1rem;
  max-width: 16%;

  &__scoreboard {
    color: $neutralWhite;
    border-radius: $border-radius;
    padding: 1rem;
    text-align: center;

    @include themedParent(Team, primary) {
      background-color: $primary80;
    }

    @include themedParent(Team, secondary) {
      background-color: $secondary50;
    }
  }

  &__name {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__score {
    font-size: 3.375rem;
  }

  &__player-list {
    @include list-unstyled;

    margin-top: 1.5rem;
  }
}
