.Word {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: $border-radius;

  + .Word {
    margin-left: 1rem;
  }

  @include themedParent(GameState, primary) {
    color: $primary80;
    background-color: $primary10;
  }

  @include themedParent(GameState, secondary) {
    color: $secondary50;
    background-color: $secondary10;
  }
}
