// Neutrals
$neutralBlack: #000;
$neutralWhite: #fff;
$neutral10: #f8f9fa;
$neutral20: #f1f3f5;
$neutral50: #dee2e6;
$neutral60: #d1d1d1;
$neutral70: #adb5bd;
$neutral80: #616161;
$neutral100: #222222;

// Utility
$border-radius: 8px;
$border-radius-tight: 4px;

// Transitions
$timing: 200ms;
$duration: ease;
