// Neutrals
$neutralBlack: #000;
$neutralWhite: #fff;
$neutral10: #f9f9f9;
$neutral30: #f1f1f1;
$neutral40: #d1d1d1;
$neutral50: #a1a1a1;
$neutral70: #616161;
$neutral90: #222222;
$neutral80: #616161;
$neutral100: #222222;

// Primary
$primary10: #e8f7ef;
$primary30: #85dc7a;
$primary50: #6dbd63;
$primary80: #1dad63;

// Secondary
$secondary10: #e9f0fb;
$secondary50: #2166d7;

// Spectra
$red20: #e44e4e;

$orange20: #f7b258;

// Rankings
$gold10: #FFF3D7;
$gold50: #F0BB43;

$silver10: #F5F5F3;
$silver50: $neutral70;

$bronze10: #F0EAE8;
$bronze50: #A18179;

// Fonts
$weight-regular: 400;
$weight-bold: 700;

// Utility
$border-radius: 8px;
$border-radius-tight: 4px;

// Transitions
$timing: 200ms;
$duration: ease;

// Breakpoints
$break-medium: 1024px;
